{% extends "JPReunionBundle:Default:index.html.twig" %}
  {% block reunion %} 
                         {% if app.session.flashBag  %}      
                            {% for flashMessage in app.session.flashBag.get('notice') %}
                              <div class="alert alert-danger text-center">
                                  <h3> {{ flashMessage }}</h3>
                              </div>
                          {% endfor %}
                      {% endif %}


                       {% set Rdate = reunion.datereunion|date('YmdHi') %}
                      {% set Ndate = 'now'|date('YmdHi') %}
                      {% set RdateP = reunion.datereunion|date_modify("+1 hours")|date('YmdHi') %}

  <div class="pull-right" style="width: 130px;">
                      <a href="{{ path('presence_index') }}" class="btn btn-sm btn-info"><i class="fa fa-undo "></i> Retour à la liste</a>
                    </div>
             <hr>
<!-- timeline time label -->
 <ul class="timeline">                
                <li class="time-label">                    
                
                        {% if Ndate  < Rdate  %}                 
                             <span class="bg-blue">{{ reunion.datereunion|date('d-M-Y ') }}  </span>
                        {% elseif Ndate > RdateP  %}    
                             <span class="bg-red">{{ reunion.datereunion|date('d-M-Y ') }}  </span>
                        {% else %}                   
                            <span class="bg-green">{{ reunion.datereunion|date('d-M-Y ') }}  </span>
                        {% endif %}

                </li>
                <!-- /.timeline-label -->

                <!-- timeline item -->
                <li>
                    <!-- timeline icon -->
                    <i class="fa fa-users bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> {{ reunion.datereunion|date('H:i') }}


               {% if Ndate  < Rdate  %}                 
                              <span class="label label-primary">A venir</span>
                        {% elseif Ndate > RdateP  %}    
                             <span class="label label-danger">Achevé</span>
                        {% else %}                   
                            <span class="label label-success">En cour</span>
                        {% endif %}

                        </span>
                           


                        <h3 class="timeline-header">Type de reunion : <a href="#">{{ reunion.typereunion}}</a>  </h3>
                      
                        <div class="timeline-body">
                            {{reunion.objet}}
                             <hr>
                            Lieu : <span class="label label-success">{{ reunion.lieu}}  </span>
                        </div>

                        <div class="timeline-footer text-right">
                            
                           
                        </div>
                    </div>
                </li>
                 
                <li>
                    <i class="fa fa-file-text bg-green"></i>
                      <div class="timeline-item">
                         <div class="box-header with-border">
                  <h3 class="box-title"><b>Liste des participants</b></h3>
                  
                </div>



                 {% if not reunion.profil.empty %}
                  <div class="box-body table-responsive no-padding">

                  <table class="table table-hover">
                    <tr>
                      <th>Nom Prenom</th>                      
                      <th>Type de profil</th> 
                        <th></th>   
                    </tr>

                     {% for profil in reunion.profil %}  
                                   
                    <tr>
                        <td>{{profil.nom~ " "~profil.prenom}}</td> 

                     {% if profil.profiltype == 1 %}

                        <td><span class="label label-success">MEMBRE</span></td>
                          
                        {% if Ndate  < Rdate  %}                 
                              <td></td>
                        {% elseif Ndate > RdateP  %}    
                             <td></td>
                        {% else %}                   
                           <td>  <a class="btn btn-success btn-sm" href="{{path('emargementshow',{'id': reunion.id,'profil': profil.id})}}"><i class="fa fa-eye"></i> Marquer la Presence</a>    </td>  
                        {% endif %} 
                   

                      {% elseif profil.profiltype == 2 %}
                       <td><span class="label label-success">POSTULANT</span></td>
                        {% if Ndate  < Rdate  %}                 
                              <td></td>
                        {% elseif Ndate > RdateP  %}    
                             <td></td>
                        {% else %}                   
                           <td>  <a class="btn btn-success btn-sm" href="{{path('emargementshow',{'id': reunion.id,'profil': profil.id})}}"><i class="fa fa-eye"></i> Marquer la Presence</a>    </td>  
                        {% endif %}                  
                      {% elseif profil.profiltype == 3 %}
                        <td><span class="label label-warning">VISITEUR</span></td>  
                          <td> </td>                    
                      {% else  %}
                        <td><span class="label label-danger">INVITE</span></td> 
                          <td>  </td>                     
                      {% endif %} 
                        
                     
                                    
                    </tr>

                



                          {% endfor %} 
                                
                  </table>
                </div><!-- /.box-body -->
            {% endif %}                 
                  
                </div><!-- /.box-body -->
                 </li>
                  

                   {% block emargement %}  {% endblock %}
                    

                <li>
                    <i class="fa fa-file-text bg-green"></i>
                      <div class="timeline-item">
                         <div class="box-header with-border">
                  <h3 class="box-title"><b>Liste de presence</b></h3>
                  
                </div>
               
                  <div class="box-body table-responsive no-padding">

                  <table class="table table-hover">
                    <tr>
                      <th>Nom Prenom</th>                      
                     
                       <th>Presence</th> 
                       
                    </tr>

                     {% for prez in listPresences %}  
                                       
                    <tr>
                        <td>{{prez.profil.nom~ " "~prez.profil.prenom}}</td> 

                     

                         {% if prez.etat == 1 %}
                           <td><span class="label label-success">PRESENT</span></td>                 
                                          
                          {% else  %}
                            <td><span class="label label-danger">ABSENT</span></td>                     
                          {% endif %} 
                    

                    </tr>
                          
                     {% endfor %}    
                                 
                  </table>
                </div><!-- /.box-body -->
                 
                  
                </div><!-- /.box-body -->
                 </li>

                  <li>
                    <!-- timeline icon -->
                    <i class="fa fa-ban bg-red"></i>
                </li>
            </ul>


      
        {% endblock %}