{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cotisation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cotisation.id }}</td>
            </tr>
            <tr>
                <th>Typecotisation</th>
                <td>{{ cotisation.typecotisation }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ cotisation.montant }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if cotisation.datecreation %}{{ cotisation.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cotisation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cotisation_edit', { 'id': cotisation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
