
  {% extends "JPProfilBundle:Default:index.html.twig" %}
  {% block profil %} 
          <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Modifier un invité du club</h3>
                  <div class="box-tools">                    
                      <div class="btn-group">
                        <a href="{{ path('jp_profil_invite_show', { 'id': profil.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-ban"></i> Annuler</a>
                      
                        <a href="{{ path('jp_profil_invite') }}" class="btn btn-sm btn-info"><i class="fa fa-undo "></i> Retour à la liste</a>
                      </div>                                     
                  </div>
                </div>
                <div class="box-body">
                   {{ form_start(edit_form) }}              

                  {{ form_errors(edit_form) }}

        <fieldset>
        <legend>Etat civile</legend>
               <div class="row">
                  <div class="col-xs-4">
                      {{ form_errors(edit_form.nom) }}
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>                       
                        {{ form_widget(edit_form.nom, {'attr': {'class': 'form-control', 'placeholder':'Nom'}}) }}
                      </div>
                    </div>
                   <div class="col-xs-8">   
                      {{ form_errors(edit_form.prenom) }}    
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>                       
                        {{ form_widget(edit_form.prenom, {'attr': {'class': 'form-control', 'placeholder':'Prenom'}}) }}
                      </div>
                    </div>
                </div>

                 <br>

        </fieldset>
            <br>

 <fieldset>
        <legend>Vie Professionnelle</legend>
 <div class="row">
                
             <div class="col-md-6">
                {{ form_label(edit_form.profession) }}
                      {{ form_errors(edit_form.profession) }}
                       <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                        {{ form_widget(edit_form.profession, {'attr': {'class': 'form-control', 'placeholder':'Entreprise/Ecole'}}) }}
                      </div>
                </div>
                  
                <div class="col-md-6">
                 {{ form_label(edit_form.inviteby) }}
                      {{ form_errors(edit_form.inviteby) }}
                       <div class="input-group">                      
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                        {{ form_widget(edit_form.inviteby, {'attr': {'class': 'form-control', 'placeholder':'Entreprise/Ecole'}}) }}
                      </div>
                </div>
               
              
              </div>   
   </fieldset>
 <br>
                         
                      
                             
                 {{ form_end(edit_form) }}
                </div><!-- /.box-body -->
              </div><!-- /.box -->


    {% endblock %}


