{% trans_default_domain 'FOSUserBundle' %}

             
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}


                <form action="{{ path("fos_user_security_check") }}" method="post"  >
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                <div class="form-group has-feedback">
                      <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input  class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input  class="form-control" type="password" id="password" name="_password" required="required" />

                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                 <div class="row">
                    <div class="col-xs-offset-1 col-xs-7">
                      <div class="checkbox icheck">
                        <label>
                          <input   type="checkbox" id="remember_me" name="_remember_me" value="on" />Se souvenir                    
                        </label>
                      </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                      <button class="btn btn-success signup" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Connexion</button>
                    </div><!-- /.col -->
                </div>                  
               
                </form>


        

        <a href="{{ path("fos_user_resetting_request") }}">Modifier Mot de passe</a><br>
       <a class ="text-center"href="{{ path("fos_user_registration_register") }}">Ouvrir un compte</a>

             

            

   
  