{% extends 'base.html.twig' %}

{% block body %}
    <h1>Club</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Typeclub</th>
                <td>{{ club.typeclub}}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ club.designation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profil_member_club_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('profil_member_club_edit', { 'id': club.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
