  {% extends "JPProfilBundle:Default:index.html.twig" %}
  {% block profil %} 
          <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Ajouter un Membre du club</h3>
                  <div class="box-tools"> 
                      <div class="btn-group"> 
                            <a href="{{ path('jp_profil_homepage') }}" class="btn btn-sm btn-info"><i class="fa fa-undo "></i> Retour à la liste</a>
                          </div> 
                    </div>
                  </div>
                <div class="box-body">
                   {{ form_start(form) }}              

                  {{ form_errors(form) }}

        <fieldset>
        <legend>Etat civile</legend>
               <div class="row">
                  <div class="col-xs-4">
                      {{ form_errors(form.nom) }}
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>                       
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder':'Nom'}}) }}
                      </div>
                    </div>
                   <div class="col-xs-8">   
                      {{ form_errors(form.prenom) }}    
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>                       
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder':'Prenom'}}) }}
                      </div>
                    </div>
                </div>

                 <br>

               <div class="row">
                <div class="col-md-6">
                      {{ form_label(form.datenaiss) }}
                      {{ form_errors(form.datenaiss) }}
                      <div class="input-group">                  
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>                       
                        {{ form_widget(form.datenaiss, {'attr': {'class': 'form-control js-datepicker', 'placeholder':'Date de Naissance'}}) }}
                      </div>
                  </div>
                  <div class="col-md-6">
               
                  {{ form_label(form.file) }}
                      {{ form_errors(form.file) }}
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-file-o"></i></span>                       
                        {{ form_widget(form.file, {'attr': {'class': 'form-control', 'placeholder':'Photo'}}) }}
                      </div>
                  </div>
                 
                </div>
        </fieldset>
            <br>
 <fieldset>
        <legend>Coordonnées</legend>
                       {{ form_label(form.domicile) }}
                        {{ form_errors(form.domicile) }}
                      <div class="input-group">                     
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>                       
                        {{ form_widget(form.domicile, {'attr': {'class': 'form-control', 'placeholder':'Domicile'}}) }}
                      </div>
                    <br>
               {#    <div class="input-inline">
                              {{ form(form.numero) }}                              
                             <br>
                         <a href="#" id="add_numero" class="btn btn-default">Ajouter un numero</a>                  
                    </div>
                    <br>

                    <div class="input-inline">
                              {{ form(form.mail) }}                              
                             <br>
                         <a href="#" id="add_mail" class="btn btn-default">Ajouter un mail</a>                  
                    </div>
                    <br>
                   #}
                      
                      {{ form_label(form.moyencommunication) }}
                  <div class="row">
                        <div class="col-xs-6">
                           {{ form_errors(form.moyencommunication.designation) }}
                         <div class="input-group">                           
                            <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                           {{ form_widget(form.moyencommunication.designation, {'attr': {'class': 'form-control', 'placeholder':'Entreprise/Ecole'}}) }}
                          </div>
                        </div>
                        <div class="col-xs-6">
                          {{ form_errors(form.moyencommunication.valeur) }}
                          <div class="input-group">                             
                            <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                            {{ form_widget(form.moyencommunication.valeur, {'attr': {'class': 'form-control', 'placeholder':''}}) }}
                          </div>
                        </div>                    
                    </div>
       </fieldset>        
                      <br>
 <fieldset>
        <legend>Vie Professionnelle</legend>
 <div class="row">
                <div class="col-md-4">
                      {{ form_errors(form.entrecole) }}
                       <div class="input-group">                      
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                        {{ form_widget(form.entrecole, {'attr': {'class': 'form-control', 'placeholder':'Entreprise/Ecole'}}) }}
                      </div>
                </div>
                <div class="col-md-4">
                      {{ form_errors(form.profession) }}
                       <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                        {{ form_widget(form.profession, {'attr': {'class': 'form-control', 'placeholder':'Entreprise/Ecole'}}) }}
                      </div>
                </div>
                <div class="col-md-4">
                      {{ form_errors(form.formation) }}
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                        {{ form_widget(form.formation, {'attr': {'class': 'form-control', 'placeholder':'Formation de base'}}) }}
                      </div>
                 </div>
              </div>   
   </fieldset>


<br>


   <fieldset>
  <legend>Vie Rotaractienne</legend>
        <div class="row">
                <div class="col-md-6">       
                      {{ form_label(form.datintro) }}
                      {{ form_errors(form.datintro) }}
                      <div class="input-group">                                          
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>                       
                        {{ form_widget(form.datintro, {'attr': {'class': 'form-control js-datepicker', 'placeholder':''}}) }}
                      </div>

                </div>

                <div class="col-md-6">       
                      {{ form_label(form.profiltype) }}
                      {{ form_errors(form.profiltype) }}
                      <div class="input-group">                                          
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                        {{ form_widget(form.profiltype, {'attr': {'class': 'form-control', 'placeholder':''}}) }}
                      </div>

                </div>
          </div>

          <div class="row">  
                <div class="col-md-6"> 
                    {{ form_label(form.postprecedent) }}
                      {{ form_errors(form.postprecedent) }}
                         <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                        {{ form_widget(form.postprecedent, {'attr': {'class': 'form-control', 'placeholder':'Poste Précedent'}}) }}
                      </div>
                </div>
                  <div class="col-md-6"> 
                   {{ form_label(form.postactuel) }}
                   {{ form_errors(form.postactuel) }}
                         <div class="input-group">                     
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                        {{ form_widget(form.postactuel, {'attr': {'class': 'form-control', 'placeholder':'Poste Actuel'}}) }}
                      </div>
                    </div>
          </div>

                     <br>

                      {{ form_label(form.fonction) }}
                    <div class="row">                      
                          <div class="col-md-6">
                              {{ form_errors(form.fonction.organe) }}
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                                {{ form_widget(form.fonction.organe, {'attr': {'class': 'form-control', 'placeholder':'Entreprise/Ecole'}}) }}
                             </div>
                          </div>
                        <div class="col-md-6">
                            {{ form_errors(form.fonction.designation) }}
                         <div class="input-group">
                             <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                              {{ form_widget(form.fonction.designation, {'attr': {'class': 'form-control', 'placeholder':''}}) }}
                           </div>
                        </div>                    
                    </div>
   </fieldset>


   <br>


<fieldset>
        <legend>Vie Familliale</legend>
                  <div class="row">
                          <div class="col-md-6">
                          {{ form_label(form.conjoint.nomprenom) }} 
                              {{ form_errors(form.conjoint.nomprenom) }}
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-o"></i></span>                       
                                {{ form_widget(form.conjoint.nomprenom, {'attr': {'class': 'form-control', 'placeholder':'Entreprise/Ecole'}}) }}
                             </div>
                          </div>
                        <div class="col-md-3">
                         {{ form_label(form.conjoint.datenaissance) }}
                            {{ form_errors(form.conjoint.datenaissance) }}
                         <div class="input-group">
                             <span class="input-group-addon"><i class="fa fa-calendar"></i></span>                       
                              {{ form_widget(form.conjoint.datenaissance, {'attr': {'class': 'form-control js-datepicker', 'placeholder':''}}) }}
                           </div>
                        </div> 
                        <div class="col-md-3">
                        {{ form_label(form.conjoint.contact) }} 
                            {{ form_errors(form.conjoint.contact) }} 
                         <div class="input-group">
                             <span class="input-group-addon"><i class="fa fa-phone"></i></span>                       
                              {{ form_widget(form.conjoint.contact, {'attr': {'class': 'form-control', 'placeholder':''}}) }}
                           </div>
                        </div>                    
                    </div>


                     <br>

               
                {#     <div class="input-inline ">
                              {{ form(form.enfant) }}                              
                             <br>
                         <a href="#" id="add_enfant" class="btn btn-default btn-sm">Ajouter un enfant</a>                
                    </div>
                           #}
             </fieldset>

             <br>      
                     {# 
                           <div class="input-inline ">
                              {{ form(form.disponibilite) }}                              
                             <br>
                         <a href="#" id="add_dispo" class="btn btn-default btn-sm">Ajouter une disponibilite</a>                
                    </div>
                            
                             <br>         #}                 
                                          
                          

                 {{ form_end(form) }}
                </div><!-- /.box-body -->
              </div><!-- /.box -->

    {% endblock %}



 


